@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


:root {

  --white-color:   	 			#ffffff;
  --black-color:   	 			#000000;
  --purple-color:   	 		#801d53;
  --red-color:   	 			  #e30713;


  --main-color: 				var(--darkgrey-color);
  --link-color:					var(--red-color);
  --link-hover-color: 	var(--purple-color);
  --main-font: 					'Open Sans', sans-serif;

  --font-thickness-normal:		400;
  --font-thickness-bold: 		700;


}

 /*edge*/
@supports (-ms-ime-align:auto) {
	:root {
	  --font-thickness-bold:	600;
	}
}
 /*einde edge*/

html {font-size: 62.5%; }



@media all {

  .container {max-width:1060px;}
body {font-family: 'Open Sans', sans-serif;font-size:1.5rem;line-height:1.6em}
h1,h2,h3,h4,h5,h6 {font-family: 'Montserrat', sans-serif;font-size:1.6rem}
h1 {font-size:4.2rem}
h2 {font-size:2.2rem;font-weight:600;}
h3 {font-size:2rem;color:var(--purple-color);font-weight:var(--font-thickness-bold);margin:2em 0 0.5em 0}
.block h2 {font-size:2.5rem;}
.block h3 {margin:0.3em 0 1em 0;color:var(--white-color);}

.highlight {font-size:2.2rem;color:var(--red-color);margin:3em 0 1em 0}
#headercontainer {height:71px;background:var(--purple-color);color:var(--white-color)}
#logo {}
#logo h1 {font-size:2.2rem;line-height:1.4em}
strong {font-weight:--font-thickness-bold}
#navigation {text-align:right;}
#navigation ul {color:var(--white-color);height:100%}
#navigation ul li {list-style-type:none;display:inline-block;height:100%;padding-right:2em}
#navigation ul li a {color:var(--white-color);height:100%;vertical-align:middle;line-height:4.5em}


#main-content {margin-top: 4rem}
#main-content .col-sm-4 {padding-top: 2rem}

.no-padding {padding:0}

.fg-white {color:var(--white-color)}
.fg-purple {color:var(--purple-color)}
.fg-red {color:var(--red-color)}


.bg-white {background:var(--white-color)}
.bg-purple {background:var(--purple-color)}
.bg-red {background: var(--red-color); }


.block {width:100%;padding:2rem 4rem 4rem 4rem;color:var(--white-color)}
.has-border-radius {border-radius: 0.6rem;}

.button  {font-weight:var(--font-thickness-bold);border-radius: 27px;line-height:3em;text-align:center;display:block;width:100%;height:3em;font-size:2rem}

.button.smaller {font-size:1.5rem;height:3em;}
.button.inline {float:right;width:auto;padding:0 2rem}

#logos{margin-top:2rem}
#logos img {display:inline-block;margin:0 0.5rem 1rem 0}
}









#slider {height:526px;clear:after}

#slider  ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  flex-direction: row;
}

@media screen and (max-width:768px){
#slider {height:auto}
#slider li {height:526px}
  #slider  ul {

  flex-direction: column;
}
}

#slider ul li {
background-size: auto 100%;
background-position: 50% 50%!important;
height:100%;
  transition: all 0.3s;
  flex:1;
}
#slider ul li:first-child{

}

#slider ul li:hover{
background-size: auto 150%;
  flex:4
}

#slider ul a {

height:526px;
display:block;
}


#slider ul a {
  background: -moz-linear-gradient(top, rgba(128,29,83,0.3) 0%, rgba(128,29,83,0.3) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(128,29,83,0.3) 0%,rgba(128,29,83,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(128,29,83,0.3) 0%,rgba(128,29,83,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80801d53', endColorstr='#80801d53',GradientType=0 ); /* IE6-9 */
}


#slider ul .active a {
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}




#slider ul .wrap {
position:relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  color: #fff;
  display: flex;
}

#slider ul .wrap a {
  width:100%;

  padding:0 4rem 4rem 4rem;
  color: #fff;
  display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

#slider ul .wrap a:hover {text-decoration:none}

#slider ul .wrap div.txt {
   /* display: none;  */
position:absolute;
top:0;  left:0;


  width:100%;

}


#slider ul li.active .wrap div {
  display: block;

}


#slider h2 {font-size:2.5rem;margin:0}
#slider .active h2 {font-size:3.5rem;}
#slider h3 {font-size:1.5rem;margin:1rem 0 2rem 0;color:#fff;}
#slider .active h3 {font-size:2rem;font-weight:var(--font-thickness-normal)}
