@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


:root {

  --white-color:   	 			#ffffff;
  --black-color:   	 			#000000;
  --purple-color:   	 		#801d53;
  --red-color:   	 			  #e30713;


  --main-color: 				var(--darkgrey-color);
  --link-color:					var(--red-color);
  --link-hover-color: 	var(--purple-color);
  --main-font: 					'Open Sans', sans-serif;

  --font-thickness-normal:		400;
  --font-thickness-bold: 		700;


}

 /*edge*/
@supports (-ms-ime-align:auto) {
	:root {
	  --font-thickness-bold:	600;
	}
}
 /*einde edge*/

html {font-size: 62.5%; }



@media all {

  .container {max-width:1060px;}
body {font-family: 'Open Sans', sans-serif;font-size:1.5rem;line-height:1.6em}
h1,h2,h3,h4,h5,h6 {font-family: 'Montserrat', sans-serif;font-size:1.6rem}
h1 {font-size:4.2rem}
h2 {font-size:2.2rem;font-weight:600;}
h3 {font-size:2rem;color:var(--purple-color);font-weight:var(--font-thickness-bold);margin:2em 0 0.5em 0}
.block h2 {font-size:2.5rem;}
.block h3 {margin:0.3em 0 1em 0;color:var(--white-color);}

.highlight {font-size:2.2rem;color:var(--red-color);margin:3em 0 1em 0}
#headercontainer {height:71px;background:var(--purple-color);color:var(--white-color)}
#logo {}
#logo h1 {font-size:2.2rem;line-height:1.4em}
strong {font-weight:--font-thickness-bold}
#navigation {text-align:right;}
#navigation ul {color:var(--white-color);height:100%}
#navigation ul li {list-style-type:none;display:inline-block;height:100%;padding-right:2em}
#navigation ul li a {color:var(--white-color);height:100%;vertical-align:middle;line-height:4.5em}


#main-content {margin-top: 4rem}
#main-content .col-sm-4 {padding-top: 2rem}

.no-padding {padding:0}

.fg-white {color:var(--white-color)}
.fg-purple {color:var(--purple-color)}
.fg-red {color:var(--red-color)}


.bg-white {background:var(--white-color)}
.bg-purple {background:var(--purple-color)}
.bg-red {background: var(--red-color); }


.block {width:100%;padding:2rem 4rem 4rem 4rem;color:var(--white-color)}
.has-border-radius {border-radius: 0.6rem;}

.button  {font-weight:var(--font-thickness-bold);border-radius: 27px;line-height:3em;text-align:center;display:block;width:100%;height:3em;font-size:2rem}

#logos{margin-top:2rem}
#logos img {display:inline-block;margin:0 0.5rem 1rem 0}
}




.accordian {
	width: 100%; height: 526px;
	overflow: hidden;

	/*Time for some styling*/
	/* margin: 100px auto; */
	/* box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35); */
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 100%;
  padding:0;
  height:100%;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: calc(100% / 6);
	float: left;
height:100%;
	/* border-left: 1px solid #888; */

	/* box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5); */

	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to
	see the basic accordian*/
}

.accordian li:first-of-type {width: calc(100% / 2);}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {	width: calc(100% / 4);}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {	width: calc(100% / 4);}



.accordian li img{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit: cover;
  z-index:0;
     background: rgba(39,62,84,0.82);
}

.accordian li img:hover{

}


/*Image title styles*/
.image_title {
	/* background: rgba(0, 0, 0, 0.5); */
	position: absolute;
	left: 0; bottom: 0;
width: 100%;
padding:3rem;
color:var(--white-color);
z-index:2;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */


}


.image_title h2 {font-size:3.5rem;margin:0}
.image_title h3 {font-size:2rem;margin:1rem 0 2rem 0;color:#fff;}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;

	font-size: 16px;
}




#slider .wrap {
  position: relative;
}

#slider .wrap:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
}

.wrap:hover:before{
  display: block;
}



#slider .purple:before {
  background-color:var(--purple-color);
}
